<body>
  <h1>Rotten Mangoes Admin</h1>
  <div>
    Hello <%= "#{@user.firstname} #{@user.lastname}," %><br/>
    Your account has been deleted by the RM administrators. Please sign up for a new account. Thanks.
  </div><hr>
  <%= link_to "Rotten Mangoes", movies_path %>
</body>
